<!DOCTYPE html>
<html>
<head>
    <title>Bookings</title>
</head>
<body>
    <h1>Bookings</h1>
    <a href="/create" class="btn btn-primary">Create New Booking</a><br><br>
    <table class="table">
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Vehicle Type</th>
                <th>Vehicle Model</th>
                <th>Vehicle Registration</th>
                <th>Booking Date</th>
                <th>Customer Name</th>
                <th>Contact Info</th>
                <th>Actions</th>  </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking['BookingID'] }}</td>
                <td>{{ booking['Type'] }}</td>
                <td>{{ booking['Model'] }}</td>
                <td>{{ booking['Registration'] }}</td>
                <td>{{ booking['BookingDate'] }}</td>
                <td>{{ booking['CustomerName'] }}</td>
                <td>{{ booking['ContactInfo'] }}</td>
                <td>
                    <a href="{{ url_for('edit', id=booking['BookingID']) }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{{ url_for('delete', id=booking['BookingID']) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Back to Vehicles</a>
</body>
</html>